extends _include/layout

block title
  title= `${page.title} | ${config.title}`

block content
  main
    article
      header
        h1= page.title
        span= page.date.format(config.date_format)

      hr

      div!= page.content

      hr

block pagination
  include _include/paginator