extends _include/layout

block title
  title= `${page.title} | ${config.title}`

block content
  main
    article
      header#post--header
        h1#post--header--title= page.title
        #post--header--date= page.date.format(config.date_format)

      hr#post--top-hr

      #post--content!= page.content

      hr#post--bottom-hr

block pagination
  #post--pagination
    include _include/paginator