if page.prev || page.next
  div
    if is_post()
      if page.next
        div: a(href=url_for(page.next_link || page.next.path)) #{page.next.title} >

      if page.prev
        div: a(href=url_for(page.prev_link || page.prev.path)) < #{page.prev.title}

    else
      if page.next
        div: a(href=url_for(page.next_link || page.next.path)) 次へ >

      if page.prev
        div: a(href=url_for(page.prev_link || page.prev.path)) < 前へ